*{
    font-family: Arial, sans-serif;
    font-size: 14px;
}
body{
    margin: 0px;
   
}
section{
    background-color: #fff;
    min-height: 400px;
}
section h1{
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: #4976db;
}
section.cont{
    width: 100%;
    /*border: 1px red solid;*/
    max-width: 1200px;
    /*display: flex;
    justify-content: center;*/
    margin: auto;
}
section.main-inform{
    width: 100%;
    display: flex;
}
section.main-inform section.info{
    width: 50%;
    /*border: 1px blue solid;*/
    
}
section.info {
    display: flex;
    justify-content: center;
}
section.main-inform section.contac{
    width: 50%;
    /*border: 1px green solid;*/
    
}
section.contac section.formulario {
    width: 100%;
    height: 100%;
    text-align: center;
    /*padding-top: 10% auto;
    border: 1px solid rgba(0, 0, 0, 0.15);*/
}
/*section.contac section.formulario input:first-child{
    margin-top: 10%;
}*/
input, textarea{
    width: 80%;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: transparent;
    line-height: 24px;
    padding: 10px 15px;
    letter-spacing: 0.3px;
    margin: 5px;
}
textarea{
    resize: none !important;
    height: 200px;
}
input:focus, textarea:focus{
    outline: #4976db solid;
}
p.botao{
    text-align: center;
}
input[type="submit"] {
    width: 20%;
    color: #fff;
    background-color: #3b3b3b;
    font-size: 18px;
    border-radius: 10px;

}
input[type="submit"]:hover {
    background-color: #4976db;
}
section.map{
    display: flex;
    justify-content: center;
    margin: auto;

    /*rder: 1px solid black;*/
}
#gmap_canvas{
    width: 100%; 
    height:500px;   
}
.mapouter{position:relative;text-align:right;height:500px;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1000px;}

@media only screen and (max-width: 600px){
    section.main-inform{
        flex-direction: column;
        -ms-flex-direction: column;

    }
    section.main-inform section.info{
        width: 100%;
        /*border: 1px blue solid;*/
    }
    section.main-inform section.contac{
        width: 100%;
        /*border: 1px green solid;*/
    }
    section.map{
        width:100%;
    }
    .mapouter{
        width: 100%;
    }
    .gmap_canvas{
        width: 100%;
    }
    #gmap_canvas{
        width: 100%;
    }
}