nav.header {
    box-shadow: none !important;
    /* margin-bottom: 10px; */
}
a.brand-logo {
    margin-left: 10px;
}
input#search:focus {
    border-bottom:1px solid #0d47a1;
    box-shadow:0 1px 0 0 #0d47a1;
    height: 93%;
    margin-top:2px;
    border-radius: 500px;
}
nav a:hover {
    color:inherit;
    text-decoration: none;   
}
.page-footer {
    padding-top:0px;
}
.page-footer .footer-copyright {
    color:white;
    display: block;
}
.formulario input{
    margin-bottom: 15px;
}
.map .mapouter{
    margin-bottom: 10px;
}


@media screen and (max-width: 992px) {
    .fixed-action-btn{
        display: none !important;
    }
  }