/*
    Utils
*/
.bord-red{
    border: 1px red solid;
}
.bord-blue{
    border: 1px blue solid;
}
.bord-green{
    border: 1px green solid;
}
/*
    CSS
*/
.swiper-container {
    height: 800px;
}
.swiper-slide {
    width: 100%;
    height: 100%;
    padding-right: 0% !important;
    padding-left: 0% !important;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
article{
  padding: 0% !important;
}
article img {
  width: 100%;
}
article .card-link{
  cursor: pointer !important;
}
.menus{
  padding: 5px !important;
  margin: 0% !important;
}
.menus div{
  padding: 0% !important;
  margin: 0% !important;
}
.menus {
  padding: 5px;
}
.menus div .menu{
  height: 50px;
}
.menus div input[type=text]:focus{
  box-shadow: none;
  border: 0%;
}
.menus div {
  box-shadow: none;
}
.menu-btn{
  margin-top: 5px;
  margin-bottom: 0px;
  height: 50px;
  width: 200px;
  background-color:dodgerblue;
}
.menu-btn span{
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 20px;
}
.dropdown-menu{
  width: 100%;
}
.menu{
  margin-bottom: 5px;
}
article{
  padding: 0% !important;
  }
article img {
  width: 100%;
}
article .card-link{
  cursor: pointer !important;
} 
span.preco {
  color: #31d26f;
}
@media screen and (max-width: 480px) {
  .swiper-container{
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-container {
    height: 1024px;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .swiper-container {
    height: 768px;
    width: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
}