*{
    font-family: Arial, sans-serif;
    font-size: 18px;
}
body{
    margin: 0px;
}
section{
    background-color: #fff;
    min-height: 400px;
}
section h1{
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: #4976db;
}
section p{
    text-align: justify;
}
section p:last-child{
    text-align: center;
}

section img{
    width: 100%;
    height: auto;
}