.viatura {
    max-width: 1200px;
}
 div.viatura-foto{
    height: 500px;
}

/* css swiper */
html, body {
  position: relative;
  height: 100%;
}
.viatura-foto {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
div.preco {
  color: dodgerblue;
  padding: 0;
  font-size: 24px;
  display: inline-block;
}
div.botoes {
  padding:0;
  float:right;


}
a.reservar {
  color:#fff;
  background-color: #31d26f;
  border-color: #31d26f;
}
a.reservar:hover {
  color:#fff;
  background-color: #299c55;
  border-color: #299c55;
}
a.reservar:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(49, 210, 111,.25);
} 
  

a.contacto {
  color:#fff;
  background-color: dodgerblue;
  border-color: dodgerblue;
}
a.contacto:hover {
  color:#fff;
  background-color: #0b74da;
  border-color: #0b74da;
}
a#fav {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}
a#fav.n {
  background: url(../img/viatura/fav.gif) 0 0;
  background-size: 20px;
}
a#fav.s {
  background: url(../img/viatura/fav.gif) 0 -20px;
  background-size: 20px;
}

table.caracteristicas {
  /* margin-top: 20px; */
  margin-top: 10%;
}

table.caracteristicas tr:first-child td{
  border-top:none;
}
table.caracteristicas td:last-child {
  float: right;
}
table.caracteristicas tr:last-child {
  border-bottom: 1px solid black;
}
.viatura-nome {
  /* margin-left: 10px; */
}

div.row {
  width: 100%;
  margin:0;
}
div.spacer {
  width: 100%;
  height: 2px;
}
div.principais ul li {
  list-style-type: circle;
  width: 100%;
}
div.principais ul {
  width: 30%;
  margin-top: 20px;
  display: inline-flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}
div.contactar form h2 {
  text-align: center;
  margin-bottom: 10px;
}
div.contactar button.btn-confirm {
  margin-top: 10px;
  color:#fff;
  background-color: #31d26f;
  border-color: #31d26f;
}
div.contactar button.btn-confirm:hover {
  color:#fff;
  background-color: #299c55;
  border-color: #299c55;
}
div.contactar form {
  display: flex;
  flex-direction: column; 
}

div.relacionados div.titulo {
  border:2px solid transparent;
  border-bottom: 2px solid dodgerblue;
  margin-bottom: 10px;
  border-radius: 3px;
}

div.relacionados img {
  margin-top:10px;
  width: 100%;
}

div.relacionados article {
}

span.preco {
  color: #31d26f;
}

div.flexboys {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:10px auto;
}

div.flexboys > div {
  width: 31%;
  padding:0.5%;
}